<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.egon.familyaibutler.family.mapper.PasswordViewMapper">

    <resultMap type="top.egon.familyaibutler.family.po.PasswordViewPO" id="PasswordViewPOMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="accountNumber" column="account_number" jdbcType="VARCHAR"/>
        <result property="websit" column="websit" jdbcType="VARCHAR"/>
        <result property="likeStatus" column="like_status" jdbcType="BOOLEAN"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="lastViewTime" column="last_view_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="BOOLEAN"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id">
        insert into public.password_view(name, password, description, account_number, websit, like_status, category,
        last_view_time, deleted, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.name}, #{entity.password}, #{entity.description}, #{entity.accountNumber},
            #{entity.websit}, #{entity.likeStatus}, #{entity.category}, #{entity.lastViewTime}, #{entity.deleted},
            #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id">
        insert into public.password_view(name, password, description, account_number, websit, like_status, category,
        last_view_time, deleted, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.name}, #{entity.password}, #{entity.description}, #{entity.accountNumber},
            #{entity.websit}, #{entity.likeStatus}, #{entity.category}, #{entity.lastViewTime}, #{entity.deleted},
            #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        name = values(name) , password = values(password) , description = values(description) , account_number =
        values(account_number) , websit = values(websit) , like_status = values(like_status) , category =
        values(category) , last_view_time = values(last_view_time) , deleted = values(deleted) , create_time =
        values(create_time) , update_time = values(update_time)
    </insert>

</mapper>

