<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.egon.familyaibutler.uaa.mapper.PermissionMapper">

    <resultMap type="top.egon.familyaibutler.uaa.po.PermissionPO" id="PermissionPOMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="method" column="method" jdbcType="INTEGER"/>
        <result property="uri" column="uri" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" >
        insert into public.permission(name, code, method, uri)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.id}, #{entity.name}, #{entity.code}, #{entity.method}, #{entity.uri})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id">
        insert into public.permission(name, code, method, uri)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.name}, #{entity.code}, #{entity.method}, #{entity.uri})
        </foreach>
        on duplicate key update
name = values(name) , code = values(code) , method = values(method) , uri = values(uri)     </insert>

</mapper>

