<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.egon.familyaibutler.uaa.mapper.RoleMapper">

    <resultMap type="top.egon.familyaibutler.uaa.po.RolePO" id="RolePOMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="id" >
        insert into public.role(name, description)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.id}, #{entity.name}, #{entity.description})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="id">
        insert into public.role(name, description)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.id}, #{entity.name}, #{entity.description})
        </foreach>
        on duplicate key update
name = values(name) , description = values(description)     </insert>

</mapper>

